redirects on
source https://nuget.org/api/v2

nuget FAKE ~> 5 prerelease
nuget FSharp.Compiler.Service
nuget NUnit ~> 3
nuget NuGet.CommandLine
nuget Unquote
nuget FSharp.Core
nuget Microsoft.NET.Test.Sdk
nuget NUnit3TestAdapter